In [138]:
import pandas as pd

import GLOBALS

with open(GLOBALS.FILE) as json_file:
    df = pd.read_json(json_file)

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2512 entries, 0 to 2968
Data columns (total 28 columns):
contributors                 0 non-null float64
coordinates                  444 non-null object
created_at                   2512 non-null datetime64[ns]
entities                     2512 non-null object
extended_entities            276 non-null object
favorite_count               2512 non-null int64
favorited                    2512 non-null bool
geo                          444 non-null object
id                           2512 non-null int64
id_str                       2512 non-null int64
in_reply_to_screen_name      0 non-null float64
in_reply_to_status_id        0 non-null float64
in_reply_to_status_id_str    0 non-null float64
in_reply_to_user_id          0 non-null float64
in_reply_to_user_id_str      0 non-null float64
is_quote_status              2512 non-null bool
lang                         2512 non-null object
place                        1013 non-null object
possibly_sensitive           647 non-null float64
quoted_status_id             1 non-null float64
quoted_status_id_str         1 non-null float64
retweet_count                2512 non-null int64
retweeted                    2512 non-null bool
retweeted_status             303 non-null object
source                       2512 non-null object
text                         2512 non-null object
truncated                    2512 non-null bool
user                         2512 non-null object
dtypes: bool(4), datetime64[ns](1), float64(9), int64(4), object(10)
memory usage: 500.4+ KB

We need to drop duplicates since the process may create some.

In [153]:
df = df.drop_duplicates(subset=['id'], keep='first')

In the feature engineering part we will be cleaning the data and transformimng it to the appropiate way. We want to extract hashtags, links, count values, extract time and date.

In [175]:
df['hashtags'] = [entities.get('hashtags') for entities in df.entities]
df['hashtags'] = [[h.get('text') for h in hashtags] for hashtags in df.hashtags]

In [179]:
df['hashtag_num'] = df.hashtags.apply(lambda x: len(x))

In [181]:
df[['coordinates','created_at','favorite_count','retweet_count','text','user','possibly_sensitive','hashtag_num','hashtags']]

,coordinates,created_at,favorite_count,retweet_count,text,user,possibly_sensitive,hashtag_num,hashtags
0,None,2013-04-27 21:35:47,0,0,Follow me :) http://t.co/hPDzqFDkKC,"{'id': 297330310, 'id_str': '297330310'}",1.0,0,[]
1,None,2013-04-27 21:20:10,0,0,Empieza el chow... #HarryPotter1,"{'id': 297330310, 'id_str': '297330310'}",NaN,1,[HarryPotter1]
2,"{'coordinates': [-5.566808, 42.606509], 'type'...",2013-04-27 21:16:06,0,0,Prepar√°ndome para la sesi√≥n de cine y cama. #H...,"{'id': 297330310, 'id_str': '297330310'}",NaN,1,[HappyNow]
3,"{'coordinates': [-5.56676027, 42.60651861], 't...",2013-04-27 21:12:47,0,0,"Decidido, me la juego voy a ver Harry Potter y...","{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
4,"{'coordinates': [-5.56687, 42.606544], 'type':...",2013-04-27 20:33:59,0,0,Hoy va a hacer los ejercicios su madre... #Ago...,"{'id': 297330310, 'id_str': '297330310'}",NaN,1,[Agotado]
5,"{'coordinates': [-5.56680927, 42.60663373], 't...",2013-04-27 20:10:49,0,0,¬øAlguien me recomienda dos pel√≠culas buenas? R...,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
6,"{'coordinates': [-5.56673888, 42.60664992], 't...",2013-04-27 20:10:00,0,0,"Una noche tranquila espero, cena, pel√≠cula, pe...","{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
7,"{'coordinates': [-5.56671829, 42.60659099], 't...",2013-04-27 18:41:53,0,0,"Un San Jorge suavecito: Un pantal√≥n roto, un a...","{'id': 297330310, 'id_str': '297330310'}",1.0,0,[]
8,None,2013-04-27 06:14:49,0,0,"ha terminado una Runtastic caminata de 1,79 km...","{'id': 297330310, 'id_str': '297330310'}",1.0,1,[Runtastic]
9,None,2013-04-27 06:00:58,0,0,empez√≥ una @runtastic sesi√≥n de seguimiento en...,"{'id': 297330310, 'id_str': '297330310'}",1.0,2,"[runtastic, iphone]"
10,"{'coordinates': [-5.56685905, 42.60655642], 't...",2013-04-27 05:45:34,0,0,Quitar la privacidad del Twitter y ya hay dos ...,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
11,"{'coordinates': [-5.56676243, 42.60663545], 't...",2013-04-26 23:56:41,0,1,Y su man√≠a de pintarme una sonrisa cada noche...,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
12,"{'coordinates': [-5.56673393, 42.60651873], 't...",2013-04-26 23:44:41,0,0,"Pues ni es un must-watch, ni una decepci√≥n, no...","{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
13,"{'coordinates': [-5.56683068, 42.60655202], 't...",2013-04-26 23:42:33,0,0,¬°Venga a chuparla primo! ¬°Que hab√≠a m√°s de 10....,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
14,"{'coordinates': [-5.56685398, 42.60653192], 't...",2013-04-26 23:32:45,0,0,"A ver si lo he entendido, el malo m√°s peligros...","{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
15,"{'coordinates': [-5.56685927, 42.60651121], 't...",2013-04-26 23:23:43,0,0,"Para qu√© te pones una m√°scara hijo, ¬øsi todo e...","{'id': 297330310, 'id_str': '297330310'}",NaN,1,[GreenLantern]
16,"{'coordinates': [-5.56686378, 42.60651452], 't...",2013-04-26 23:16:03,0,0,¬øPorqu√© en todas las pel√≠culas de superh√©roes ...,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
300,"{'coordinates': [-5.56683053, 42.60658189], 't...",2013-04-28 14:33:08,0,0,Gracias Wifi por la peor conexi√≥n en mucho tie...,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
301,None,2013-04-28 11:05:38,0,0,Pues no esta mal jaja http://t.co/B0BdJTPCTJ,"{'id': 297330310, 'id_str': '297330310'}",1.0,0,[]
302,None,2013-04-27 22:26:56,0,0,"Troooooooooll en las mazmorras, ¬°hay un troll ...","{'id': 297330310, 'id_str': '297330310'}",NaN,2,"[HarryPotter1, Epic]"
303,"{'coordinates': [-5.566705, 42.606663], 'type'...",2013-04-27 22:04:36,0,0,¬øDesde cu√°ndo el sombrero boceaba? Susurraba a...,"{'id': 297330310, 'id_str': '297330310'}",NaN,1,[HarryPotter1]
304,"{'coordinates': [-5.566771, 42.606556], 'type'...",2013-04-27 22:00:09,0,0,Draco Malfoy a.k.a. el t√≠o m√°s duro de la zona.,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
305,None,2013-04-27 21:43:27,0,12,RT @es_engadget: Intel confirma el lanzamiento...,"{'id': 297330310, 'id_str': '297330310'}",1.0,0,[]
307,"{'coordinates': [-5.56671394, 42.60677427], 't...",2013-04-29 14:28:23,0,0,"I just receive my new iPhone 5 gadgets, right ...","{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
308,None,2013-04-29 00:00:14,0,1,RT @jadelabe: @inziontruffaut Let's use this p...,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
309,None,2013-04-28 23:55:54,0,0,Nice hour 2 go 2 sleep! #Spain http://t.co/UpQ...,"{'id': 297330310, 'id_str': '297330310'}",1.0,1,[Spain]
310,"{'coordinates': [-5.56678726, 42.60657735], 't...",2013-04-28 23:29:42,1,0,"Me gusta el b√©isbol, el cine, la ropa buena, l...","{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
311,"{'coordinates': [-5.56680751, 42.60664289], 't...",2013-04-28 23:28:19,0,0,- Ellos solo miran de donde vienen y eso no es...,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
312,"{'coordinates': [-5.56677033, 42.6065171700000...",2013-04-28 23:10:37,0,0,¬°Qu√© Batman es agente en Enemigos P√∫blicos!,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
313,"{'coordinates': [-5.56678933, 42.60658103], 't...",2013-04-28 23:04:29,0,0,¬°Un 8 en App web! A muerte primo.,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
...,...,...,...,...,...,...,...,...,...
2937,None,2019-06-21 16:13:46,0,0,Here‚Äòs my #WeekInMusic. https://t.co/r5DYL4SFfH,"{'id': 297330310, 'id_str': '297330310'}",1.0,1,[WeekInMusic]
2938,None,2019-06-20 16:47:16,0,0,Cadence of Hyrule sounds real fun and having t...,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
2939,None,2019-06-20 16:44:40,0,0,Avengers being rereleased to take over Avatar ...,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
2940,"{'coordinates': [-86.80260935, 33.5097374], 't...",2019-06-17 02:43:27,0,0,TensorFlow graph computation is an interesting...,"{'id': 297330310, 'id_str': '297330310'}",1.0,0,[]
2941,None,2019-06-15 16:46:42,0,0,Just finished Mutant Year Zero. Great strategy...,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
2942,None,2019-06-12 15:11:02,0,0,100% agree with @thetruebowser life-job balanc...,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
2943,None,2019-06-10 16:45:31,0,0,"Upload VR sum up: too many zombie games, it st...","{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
2944,None,2019-06-09 19:04:30,0,491,RT @xataka: ‚ò¢Ô∏èEstos son los robots que no pudi...,"{'id': 297330310, 'id_str': '297330310'}",1.0,0,[]
2945,None,2019-06-09 18:11:26,0,0,"Btw, I am trying to get back to Twitter... let...","{'id': 297330310, 'id_str': '297330310'}",1.0,0,[]
2946,None,2019-06-09 18:10:21,0,0,"Looking forward to #E3. Even though, I may add...","{'id': 297330310, 'id_str': '297330310'}",NaN,1,[E3]
2947,None,2018-12-15 07:33:35,0,0,"Just another town, just another night. https:/...","{'id': 297330310, 'id_str': '297330310'}",1.0,0,[]
2948,None,2018-12-05 16:55:33,0,0,"Then I took off, ain‚Äôt have other option. http...","{'id': 297330310, 'id_str': '297330310'}",1.0,0,[]
2949,None,2018-10-31 15:06:39,0,0,Would you fly for me? https://t.co/8WtPN18ibV,"{'id': 297330310, 'id_str': '297330310'}",1.0,0,[]
2951,None,2019-07-02 13:19:04,0,7,RT @botherer: Excellent work by @SamuelHorti o...,"{'id': 297330310, 'id_str': '297330310'}",1.0,0,[]
2952,None,2019-07-01 04:30:46,0,378,RT @random_forests: Neural networks are the wr...,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
2953,None,2019-07-01 02:02:52,0,0,"Btw, I‚Äôm working on a comprehensive Twitter to...","{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
2954,None,2019-07-01 02:00:24,0,0,Just trained a model to ‚Äúclean‚Äù noise from ima...,"{'id': 297330310, 'id_str': '297330310'}",1.0,1,[MachineLearning]
2955,None,2019-06-29 20:01:49,0,32132,"RT @starwarsIegacy: Jedi and Sith, The Skywalk...","{'id': 297330310, 'id_str': '297330310'}",1.0,0,[]
2956,None,2019-06-29 17:12:44,0,4248,RT @RaveofRavendale: In the latest episode of ...,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
2957,None,2019-06-27 02:58:42,0,12601,RT @NXOnNetflix: We should take Spider-Man: In...,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
2958,None,2019-06-24 22:13:59,0,106,RT @alexa99: Reasons @Spiderman should found a...,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
2959,None,2019-06-24 18:38:32,0,1,RT @SergioPallide: Vuestra ACTITUD es de campe...,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
2960,None,2019-06-24 16:49:11,0,2534,RT @BrankoMilan: Some stunning results for Spa...,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
2961,None,2019-06-24 16:47:47,0,0,Those Who do not learn history are doomed to r...,"{'id': 297330310, 'id_str': '297330310'}",1.0,0,[]
2962,None,2019-06-24 04:01:42,0,0,First @euphoriaHBO episode has just given me a...,"{'id': 297330310, 'id_str': '297330310'}",1.0,0,[]
2963,None,2019-06-24 03:58:20,0,0,IMO Toy Story 4 is a better Toy Story 2 than T...,"{'id': 297330310, 'id_str': '297330310'}",1.0,0,[]
2965,None,2019-07-16 03:27:38,0,0,Just finished Foundation from Isaac Asimov. Gr...,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
2966,None,2019-07-10 23:10:19,0,0,Let‚Äôs see how good (or bad) is Spider-Man Far ...,"{'id': 297330310, 'id_str': '297330310'}",NaN,0,[]
2967,None,2019-07-10 23:08:22,0,0,My week in music ü§∑üèæ‚Äç‚ôÇÔ∏è https://t.co/M3mQRjMCHU,"{'id': 297330310, 'id_str': '297330310'}",1.0,0,[]
2968,None,2019-07-04 19:59:51,0,774,RT @jonathanfly: Experimenting with 'upscaling...,"{'id': 297330310, 'id_str': '297330310'}",1.0,1,[GauGAN]